app = "idgaf-chain-node"
primary_region = "iad"

[build]
  dockerfile = "cloud-deploy/Dockerfile.railway"

[env]
  NETWORK_ID = "10144"
  CHAIN_ID = "10144"

[[services]]
  internal_port = 8545
  protocol = "tcp"

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.http_checks]]
    interval = "10s"
    timeout = "2s"
    grace_period = "5s"
    method = "POST"
    path = "/"
    protocol = "http"

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"

